<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.articlesprovider"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider android:name="ArticlesProvider"
            android:authorities="com.vivo.provider.articles"
            android:label="@string/provider_label"
            android:multiprocess="false"></provider>
    </application>

</manifest>
